!!!
html(lang='en', ng-app='bstest')
  head
    meta(charset='utf8')
    base(href='/')
    title Bootstrap Seed App
    link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='/css/bootstrap-colorpicker.css', media='screen')
    link(rel='stylesheet', href='/css/bootstrap-tree.css', media='screen')
    link(rel='stylesheet', href='/css/ng-grid.css', media='screen')
    //link(rel='stylesheet', href='/css/app.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-contextmenu.js')
    script(src='js/bootstrap-colorpicker.js')
    script(src='js/bootstrap-tree.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(src='js/ng-grid.js')
    script(src='js/client.js')
  body
    block body
